<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <select id="loginin" parameterType="java.lang.String" resultType="com.example.demo.entity.User">
        select
        *
        from user
        where u_id = #{u_id} and password = #{password};
    </select>
   <select id="sbalance" parameterType="java.lang.String" resultType="java.lang.Integer">
       select
       money
       from  balance
       where u_id= #{u_id}
   </select>
    <select id="withdraw" >
        update balance set money = #{money}
        where u_id = #{u_id}
    </select>
    <select id="deposit">
        update balance set money = #{money}
        where u_id = #{u_id}
    </select>
</mapper>
